### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_pd = pd.read_csv(file_to_load)
pymoli_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

Display the total number of players

In [2]:
player_count = len(pymoli_pd["SN"].unique())
player_count

576

In [83]:
#Create data frame for player count
pd.DataFrame({"Total Players":[player_count],})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items
item_count = len(pymoli_pd["Item ID"].unique())
item_count

183

In [4]:
#Average purchase Price
average = round(pymoli_pd["Price"].mean()/1,2) 
average

3.05

In [5]:
#Number of purchases
Total_number_of_purchases = pymoli_pd["Purchase ID"].count() 
Total_number_of_purchases

780

In [126]:
#Total Revenue
Total_Revenue = round(pymoli_pd["Price"].sum()/1,2) 
Total_Revenue

2379.77

In [43]:
pd.DataFrame({"Number of Unique items": [item_count], "Average Price":[average], "Number of Purchase":[Total_number_of_purchases], "Total Revenue":[Total_Revenue]})

   Number of Unique items  Average Price  Number of Purchase  Total Revenue
0                     183           3.05                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [127]:
#Group by "SN" to separate unique players to derive count of genders. 
Actual_players_pd = pymoli_pd.loc[:, ["SN", "Gender", "Age"]]
Actual_players_pd = Actual_players_pd.drop_duplicates().round(2)
Actual_players_pd

players_gender_count = Actual_players_pd["Gender"].value_counts().round(2)
players_gender_count

players_gender_total = Actual_players_pd["Gender"].count().round(2)
players_gender_total

players_gender_percentage = (Actual_players_pd["Gender"].value_counts()/players_gender_total*100).map("{0:,.2f}%".format)
players_gender_percentage

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

In [128]:
#Create data frame for gender demographics
pd.DataFrame(
    {"Total Count": players_gender_count, "Percentage of Players":players_gender_percentage,})

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
#Purchase Count
Purchase_count = pymoli_pd.groupby(["Gender"]).count()["Price"]
Purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [135]:
#Average Purchase Price
Avg_purchase_price = pymoli_pd.groupby(["Gender"]).mean()["Price"].round(2)
Avg_purchase_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [130]:
#Total purchase Value
Total_purchase_value = (Purchase_count * Avg_purchase_price).round(2)
print(Total_purchase_value)

Gender
Female                    361.60
Male                     1969.04
Other / Non-Disclosed      50.25
Name: Price, dtype: float64

In [131]:
#Avg Total purchase per person
Avg_total_purchase_value = (Total_purchase_value / players_gender_count).round(2)
print(Avg_total_purchase_value)

Female                   4.46
Male                     4.07
Other / Non-Disclosed    4.57
dtype: float64

In [134]:
#Create data frame for purchasing analysis by gender
pd.DataFrame(
    {"Purchase Count": Purchase_count,
     "Average_Purchase_Price": Avg_purchase_price,
     "Total Purchase Value":Total_purchase_value,
    "Avg Total Purchase per person": Avg_total_purchase_value})

,Purchase Count,Average_Purchase_Price,Total Purchase Value,Avg Total Purchase per person
Gender,,,,
Female,113,3.203009,361.60,4.46
Male,652,3.017853,1969.04,4.07
Other / Non-Disclosed,15,3.346000,50.25,4.57

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
#Establish Bins for Ages 
#Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [13]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
pd.cut(Actual_players_pd["Age"], bins, labels=group_names).head()
#Age_Bins_pd.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [107]:
# Place the data series into a new column inside of the DataFrame
Actual_players_pd["Age Bucket"] = pd.cut(Actual_players_pd["Age"], bins, labels=group_names)
Actual_players_pd.head(10)

              SN                 Gender  Age Age Bucket
0        Lisim78                   Male   20      20-24
1    Lisovynya38                   Male   40        40+
2     Ithergue48                   Male   24      20-24
3  Chamassasya86                   Male   24      20-24
4      Iskosia90                   Male   23      20-24
5        Yalae81                   Male   22      20-24
6      Itheria73                   Male   36      35-39
7    Iskjaskst81                   Male   20      20-24
8      Undjask33                   Male   22      20-24
9    Chanosian48  Other / Non-Disclosed   35      35-39

In [108]:
# Create a GroupBy object based upon "Age Bucket"
Age_Bin = Actual_players_pd.groupby("Age Bucket")
Age_bin_count = Age_Bin["Age"].count()
# Find how many rows fall into each bin
print(Age_bin_count)

Age Bucket
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [123]:
#Percentages by Age Bin. 
percentage_by_Bin = ((Age_bin_count/player_count)*100).map("{0:,.2f}%".format)
percentage_by_Bin

Age Bucket
<10       2.95%
10-14     3.82%
15-19    18.58%
20-24    44.79%
25-29    13.37%
30-34     9.03%
35-39     5.38%
40+       2.08%
Name: Age, dtype: object

In [124]:
#Create data frame for Age Demographics
pd.DataFrame(
    {"Total Count": Age_bin_count,
     "Percentage of Players":percentage_by_Bin})

            Total Count Percentage of Players
Age Bucket
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Group by Age and purchase ID to get counts of purchases per age bracket
purchase_analysis = pymoli_pd.loc[:, ["Age","Purchase ID","Price"]]
purchase_analysis.head()

   Age  Purchase ID  Price
0   20            0   3.53
1   40            1   1.56
2   24            2   4.88
3   24            3   3.27
4   23            4   1.44

In [24]:
#pd.cut(pymoli_pd["Age"], bins, labels = group_names).head()
pd.cut(purchase_analysis["Age"], bins, labels=group_names).head()
#purcahse_Bins.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [25]:
# Place the data series into a new column inside of the DataFrame
purchase_analysis["Age Bucket"] = pd.cut(purchase_analysis["Age"], bins, labels=group_names)
purchase_analysis.head(10)

   Age  Purchase ID  Price Age Bucket
0   20            0   3.53      20-24
1   40            1   1.56        40+
2   24            2   4.88      20-24
3   24            3   3.27      20-24
4   23            4   1.44      20-24
5   22            5   3.61      20-24
6   36            6   2.18      35-39
7   20            7   2.67      20-24
8   22            8   1.10      20-24
9   35            9   3.58      35-39

In [33]:
#Run basic calculations to obtain purchase count per bucket
purchase_perbucket=purchase_analysis.groupby("Age Bucket")
age_bin_count = purchase_perbucket["Age"].count()
# Find how many rows fall into each bin
print(age_bin_count)

Age Bucket
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [119]:
#Run basic calculations to obtain avg. purchase price per bucket
Avg_purchase = purchase_analysis.groupby("Age Bucket")
Avg_purchase_price = (Avg_purchase["Price"].mean()).round(2)
print(Avg_purchase_price)

Age Bucket
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [34]:
# Total Purchase value per Bucket
Total_purchase_value = purchase_analysis.groupby("Age Bucket")
Total_purchase_value_sum = Total_purchase_value["Price"].sum()
# Find how many rows fall into each bin
print(Total_purchase_value_sum)

Age Bucket
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [118]:
#Average Total Purchase per person in Bucket
Avg_total_purchase =(Total_purchase_value_sum / age_bin_count).round(2)
print(Avg_total_purchase)

Age Bucket
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
dtype: float64

In [120]:
#Create data frame for purchasing Analysis
pd.DataFrame(
    {"Purchase Count": age_bin_count,
     "Average Purchase Price":Avg_purchase_price,
     "Total Purchase Value":Total_purchase_value_sum,
     "Avg Total Purchase per Person": Avg_total_purchase,
    })

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bucket,,,,
<10,23,3.35,77.13,3.35
10-14,28,2.96,82.78,2.96
15-19,136,3.04,412.89,3.04
20-24,365,3.05,1114.06,3.05
25-29,101,2.90,293.00,2.90
30-34,73,2.93,214.00,2.93
35-39,41,3.60,147.67,3.60
40+,13,2.94,38.24,2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
#Top Spender Purchase Count
Top_spender_purchase_count = pymoli_pd.groupby(["SN"])
Top_spender_purchase_count_count = Top_spender_purchase_count["Purchase ID"].count()
print(Top_spender_purchase_count_count)

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [116]:
#Top Spender Average Purchase price
Top_spender_Avg_purchase_price = pymoli_pd.groupby(["SN"])
Top_spender_Avg_purchase_price_mean = Top_spender_Avg_purchase_price["Price"].mean().round(2)
print(Top_spender_Avg_purchase_price_mean)

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [46]:
#Top Spender Total Purchase value
Top_spender_total_purchase_value = (Top_spender_Avg_purchase_price_mean * Top_spender_purchase_count_count)
print(Top_spender_total_purchase_value)

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Length: 576, dtype: float64

In [117]:
#Create data frame in Total Purchase descending order
pd.DataFrame(
    {"Purchase Count": Top_spender_purchase_count_count,
     "Average Purchase Price":Top_spender_Avg_purchase_price_mean,
     "Total Purchase":Top_spender_total_purchase_value,
    }).sort_values('Total Purchase', ascending=False)

             Purchase Count  Average Purchase Price  Total Purchase
SN
Lisosia93                 5                    3.79           18.96
Idastidru52               4                    3.86           15.45
Chamjask73                3                    4.61           13.83
Iral74                    4                    3.40           13.62
Iskadarya95               3                    4.37           13.10
...                     ...                     ...             ...
Ililsasya43               1                    1.02            1.02
Irilis75                  1                    1.02            1.02
Aidai61                   1                    1.01            1.01
Chanirra79                1                    1.01            1.01
Alo38                     1                    1.00            1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
#Retrieving columns
popular_items_pd = pymoli_pd.loc[:, ["Item ID", "Item Name", "Price","Purchase ID"]]
popular_items_pd

     Item ID                                  Item Name  Price  Purchase ID
0        108  Extraction, Quickblade Of Trembling Hands   3.53            0
1        143                          Frenzied Scimitar   1.56            1
2         92                               Final Critic   4.88            2
3        100                                Blindscythe   3.27            3
4        131                                       Fury   1.44            4
..       ...                                        ...    ...          ...
775       60                                       Wolf   3.54          775
776      164                           Exiled Doomblade   1.63          776
777       67      Celeste, Incarnation of the Corrupted   3.46          777
778      101                               Final Critic   4.19          778
779       50                                       Dawn   4.60          779

[780 rows x 4 columns]

In [74]:
#Purchase count for popular items
popular_items_count = popular_items_pd.groupby(["Item ID", "Item Name"])
popular_count = popular_items_count["Purchase ID"].count()
print(popular_count)

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Purchase ID, Length: 183, dtype: int64

In [72]:
#Item price for popular items
popular_items_mean = popular_items_pd.groupby(["Item ID", "Item Name"]).mean()
popular_items_price = popular_items_mean["Price"]
print(popular_items_price)

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [75]:
#Item price for popular items
popular_items_purchase_value = popular_items_price * popular_count
popular_items_purchase_value

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Length: 183, dtype: float64

In [77]:
#Create data frame in Purchase Count descending order
pd.DataFrame(
    {"Purchase Count": popular_count,
     "Item Price":popular_items_price,
     "Total Purchase":popular_items_purchase_value,
    }).sort_values('Purchase Count', ascending=False)

,,Purchase Count,Item Price,Total Purchase
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
...,...,...,...,...
104,Gladiator's Glaive,1,1.93,1.93
23,Crucifer,1,1.99,1.99
180,Stormcaller,1,3.36,3.36
91,Celeste,1,4.17,4.17
134,Undead Crusader,1,4.50,4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [78]:
#Create data frame in Purchase Count descending order
pd.DataFrame(
    {"Purchase Count": popular_count,
     "Item Price":popular_items_price,
     "Total Purchase":popular_items_purchase_value,
    }).sort_values('Total Purchase', ascending=False)

,,Purchase Count,Item Price,Total Purchase
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
...,...,...,...,...
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75