### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_pd = pd.read_csv(file_to_load)
pymoli_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

Display the total number of players

In [2]:
player_count = len(pymoli_pd["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items
item_count = len(pymoli_pd["Item ID"].unique())
item_count

183

In [4]:
#Average purchase Price
average = round(pymoli_pd["Price"].mean()/1,2) 
average

3.05

In [5]:
#Number of purchases
Total_number_of_purchases = pymoli_pd["Purchase ID"].count() 
Total_number_of_purchases

780

In [6]:
#Total Revenue
Total_Revenue = round(pymoli_pd["Price"].sum()/1,2) 
Total_Revenue

2379.77

In [43]:
pd.DataFrame({"Number of Unique items": [item_count], "Average Price":[average], "Number of Purchase":[Total_number_of_purchases], "Total Revenue":[Total_Revenue]})

   Number of Unique items  Average Price  Number of Purchase  Total Revenue
0                     183           3.05                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Group by "SN" to separate unique players to derive count of genders. 
Actual_players_pd = pymoli_pd.loc[:, ["SN", "Gender", "Age"]]
Actual_players_pd = Actual_players_pd.drop_duplicates()
Actual_players_pd

players_gender_count = Actual_players_pd["Gender"].value_counts()
players_gender_count

#players_gender_total = Actual_players_pd["Gender"].count()
#players_gender_total

#players_gender_percentage = Actual_players_pd["Gender"].value_counts()/players_gender_total*100
#players_gender_percentage

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [ ]:
#Summary Data Frame


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Purchase Count
Purchase_count_pd = pymoli_pd.groupby(["Gender"]).count()["Price"]
Purchase_count_pd

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [9]:
#Average Purchase Price
Avg_purchase_price_pd = pymoli_pd.groupby(["Gender"]).mean()["Price"]
Avg_purchase_price_pd

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [10]:
#Total purchase Value
Total_purchase_value = (Purchase_count_pd * Avg_purchase_price_pd)
print(Total_purchase_value)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [11]:
#Avg Total purchase per person
Avg_total_purchase_value = (Total_purchase_value / players_gender_count)
print(Avg_total_purchase_value)

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
#Establish Bins for Ages 
#Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [13]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
pd.cut(Actual_players_pd["Age"], bins, labels=group_names).head()
#Age_Bins_pd.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [14]:
# Place the data series into a new column inside of the DataFrame
Actual_players_pd["Age Bucket"] = pd.cut(Actual_players_pd["Age"], bins, labels=group_names)
Actual_players_pd.head(10)

              SN                 Gender  Age Age Bucket
0        Lisim78                   Male   20      20-24
1    Lisovynya38                   Male   40        40+
2     Ithergue48                   Male   24      20-24
3  Chamassasya86                   Male   24      20-24
4      Iskosia90                   Male   23      20-24
5        Yalae81                   Male   22      20-24
6      Itheria73                   Male   36      35-39
7    Iskjaskst81                   Male   20      20-24
8      Undjask33                   Male   22      20-24
9    Chanosian48  Other / Non-Disclosed   35      35-39

In [15]:
# Create a GroupBy object based upon "Age Bucket"
Age_Bin = Actual_players_pd.groupby("Age Bucket")
age_bin_count = Age_Bin["Age"].count()
# Find how many rows fall into each bin
print(age_bin_count)

Age Bucket
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [16]:
#Percentages by Age Bin. 
percentage_by_Bin = (age_bin_count/player_count)*100
percentage_by_Bin

Age Bucket
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: Age, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Group by Age and purchase ID to get counts of purchases per age bracket
purchase_analysis = pymoli_pd.loc[:, ["Age","Purchase ID","Price"]]
purchase_analysis.head()

   Age  Purchase ID  Price
0   20            0   3.53
1   40            1   1.56
2   24            2   4.88
3   24            3   3.27
4   23            4   1.44

In [24]:
#pd.cut(pymoli_pd["Age"], bins, labels = group_names).head()
pd.cut(purchase_analysis["Age"], bins, labels=group_names).head()
#purcahse_Bins.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [25]:
# Place the data series into a new column inside of the DataFrame
purchase_analysis["Age Bucket"] = pd.cut(purchase_analysis["Age"], bins, labels=group_names)
purchase_analysis.head(10)

   Age  Purchase ID  Price Age Bucket
0   20            0   3.53      20-24
1   40            1   1.56        40+
2   24            2   4.88      20-24
3   24            3   3.27      20-24
4   23            4   1.44      20-24
5   22            5   3.61      20-24
6   36            6   2.18      35-39
7   20            7   2.67      20-24
8   22            8   1.10      20-24
9   35            9   3.58      35-39

In [33]:
#Run basic calculations to obtain purchase count per bucket
purchase_perbucket=purchase_analysis.groupby("Age Bucket")
age_bin_count = purchase_perbucket["Age"].count()
# Find how many rows fall into each bin
print(age_bin_count)

Age Bucket
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [27]:
#Run basic calculations to obtain avg. purchase price per bucket
Avg_purchase_price = purchase_analysis.groupby("Age Bucket")
print(Avg_purchase_price["Price"].mean())

Age Bucket
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [34]:
# Total Purchase value per Bucket
Total_purchase_value = purchase_analysis.groupby("Age Bucket")
Total_purchase_value_sum = Total_purchase_value["Price"].sum()
# Find how many rows fall into each bin
print(Total_purchase_value_sum)

Age Bucket
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [35]:
#Average Total Purchase per person in Bucket
Avg_total_purchase = Total_purchase_value_sum / age_bin_count
print(Avg_total_purchase)

Age Bucket
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
#Top Spender Purchase Count
Top_spender_purchase_count = pymoli_pd.groupby(["SN"])
Top_spender_purchase_count["Purchase ID"].count()

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [37]:
#Top Spender Average Purchase price
Top_spender_Avg_purchase_price = pymoli_pd.groupby(["SN"])
Top_spender_Avg_purchase_price["Price"].mean()

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [38]:
#Top Spender Total Purchase value
Top_spender_total_purchase_value = (Top_spender_Avg_purchase_price * Top_spender_purchase_count)
print(Top_spender_total_purchase_value)

TypeError: unsupported operand type(s) for *: 'DataFrameGroupBy' and 'DataFrameGroupBy'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Retrieving columns
popular_items_pd = pymoli_pd.loc[:, ["Item ID", "Item Name", "Price","Purchase ID"]]
popular_items_pd

In [ ]:
#Purchase count for popular items
popular_items_count = popular_items_pd.groupby(["Item ID", "Item Name"])
popular_items_count["Purchase ID"].count()

In [ ]:
#Item price for popular items
popular_items_price = popular_items_pd.groupby(["Item ID", "Item Name"])
popular_items_price["Price"]
print(popular_items_price)

In [ ]:
#Item price for popular items
popular_items_purchase_value = popular_items_price*popular_items_count
popular_items_purchase_value

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame